* {
    padding: 0;
    margin: 0;
}

h1 {
    position: sticky;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 5px;
    width: 47%;
    background-color: #f7f7f7;
    z-index: 10;
}

section {
    font-family: Arial, Verdana, sans-serif;
    font-size: 15px;
    height: 200px;
    width: 750px;
    background-color: #d8d8c0;
    border-radius: 20px;
    padding: 5px 20px;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

th {
    background-color: rgb(107, 134, 136);
    color: white;
}

tr:hover {
    background-color: aqua;
}

fieldset {
    width: 350px;
    border: 1px solid #65887f;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

legend {
    background-color: #61948d;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 5px 10px;
}

#lweb {
    font-family: 'Courier New', Courier, monospace;
    height: 120px;
    width: 400px;
    background-color: #cbd8c0;
    border-radius: 20px;
    padding: 5px 20px;
}

.navbar {
    background-color: #000;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

.navinav {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}